 <div class="footer">
	<img src="imgs/everywhere.png" />
	{{!-- <h2>Atomic Web Comonents</h2> --}}
	<div class="right buttons">
		<a {{action 'goto' -1}} class="button"><</a>
		<a {{action 'goto' 1}} class="button">></a>
	</div>
 </div>

{{yield}}
